
@font-face {
  font-family: Satellite;
  src: url("assets/Satellite.otf") format("opentype");
}






::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background: #ee9999;
  visiblity:hidden;
}


#section-text::-webkit-scrollbar-thumb {
    visibility:hidden;
}
#section-text:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}



.site-title {
  font-size: 12pt;
  writing-mode: tb-rl;
  color: rgba(0,0,30,255);;
  text-align: left;
  -webkit-transform: rotate(180deg);
  white-space: nowrap;
}


a {
  text-decoration: none;
  color: #818181;
}
a:hover {
  color: rgba(50,200,255,255);
}

ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}






bold {
  -webkit-text-stroke-width: 0.8px;
}



double-space {
  line-height: 2em;
}








@keyframes example {
    from {background-color: #eeeeee;}
    to {background-color: #transparent;}
}





html,
body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  background: #eeeeee;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
}


header,
leftnav,
section,
aside,
footer {
  margin: 0px;
  padding: 0px;
}
header, footer {
  z-index: 2;
  height: 50px;
  letter-spacing: 2px;
  width: 100%;
  margin: 0;
  background: #90d0e9;
  animation-name: example;
  animation-duration: 2s;
}
header {
  clear: both;
  position: fixed;
  margin-top: 0;
}
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  float: left;
  margin-bottom: 0;
}
#header-title {
  color: white;
  text-shadow: 2px 2px 2px #aaeeee;
  align: middle;
  height: 48px;
}
#header-title a:hover {
  text-shadow: 2px 2px 0px #ee9999;
}

#header-title-text {
  transform: translate(0%, 15%);
  color: white;
  text-align: center;
  font-size: 22pt;
  margin-left: calc((100% - 300px) / 2);
  margin-right: auto;
  width: 300px;
  position: absolute;
  list-style: none;
}
#header-title-text ul{
  text-align: center;
}
#header-title-text li {
  font-size: 10pt;
  letter-spacing: 2px;
  display: inline-block;
}
#header-title-text li-icon{
  top: -5px;
  height: 50px;
}



#footer-menu {
  float: left;
  width: 100%;
  height: 48px;
  align: center;
  overflow: hidden;
}

#footer-menu-text {
  position: absolute;
  display: table;
  width: 300px;
  font-size: 14pt;
  margin-left: calc((100% - 300px) / 2);
  margin-right: auto;
  list-style: none;
  transform: translate(0%, 60%);
}

#footer-menu-text li{
  color: white;
  padding: 0.5em;
  display: inline;
}
footer ul {
  display: table;
  margin: 0 auto;
}
footer ul a{
  color: white;
}
footer ul a:hover{
  color: white;
  text-shadow: 2px 2px 0px #ee9999;
}




#footer-colophon {
  float: left;
  width: calc(150px + ((100% - 900px) / 2));
  height: 48px;
}
#footer-colophon-text {
  color: white;
  font-size: 12pt;
  align: left;
  text-align: left;
  transform: translate(0%, 80%);
}






section {
  clear: both;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#section-content-space {
  position: absolute;
  top: 50px;
  float: top;
  background: white;
  width: 100%;
  height: calc(100% - 100px);
  align: center;
  overflow: hidden;
}

#section-content-item {
  position: absolute;
  background: transparent;
  width: 300px;
  height: 300px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#section-text {
  width: 600px;
  height: 100%;
  background: blue;
}

h1{
  text-align: center;
}
h2{
  font-size: 12pt;
  text-align: center;
}
.subsection{
  background: white;
  margin: 0;
  clear: both;
}






hr {
  width: 100%;
  height: 4px;
  border: none;
  background-color: rgba(200, 100, 100, 1);
}

.sidenavL {
    height: calc(100% - 100px);
    min-height: 300px;
    width: 0;
    clear: both;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgba(253, 138, 138, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid rgba(144, 208, 233, 1);
}

.sidenavL a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    display: block;
}

/*.sidenav a:hover, .offcanvas a:focus{
    color: white;
    text-shadow: 2px 2px 0px #90d0e9;
}*/
#sidebutton:hover, .offcanvas #sidebutton:focus{
    color: white;
    text-shadow: 2px 2px 0px #90d0e9;
}


/*.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/







/* The side navigation menu */
.sidenavR {
    height: calc(100% - 100px);
    min-height: 300px;
    width: 0;
    position: fixed;
    clear: both;
    float: right;
    z-index: 1; /* Stay on top */
    top: 50px;
    right: 0;
    background-color: rgba(253, 138, 138, 0.95);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    border-left: 1px solid rgba(144, 208, 233, 1);
}

.sidenavR a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    display: block;
}

#sidebuttonR:hover, .offcanvas #sidebuttonR:focus{
    color: white;
    text-shadow: 2px 2px 0px #90d0e9;
}








/* The side navigation menu */
#bottom-about {
    height: 0;
    width: 250px;
    position: fixed;
    clear: both;
    float: left;
    bottom: 45px;
    z-index: 1; /* Stay on top */
    left: calc(50% - 125px);
    background-color: rgba(253, 138, 138, 1);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    border-color: rgba(253, 138, 138, 1);
    border-radius: 5px;
    border-left: 5px solid rgba(200, 100, 100, 1);
    border-right: 5px solid rgba(200, 100, 100, 1);
    border-top: 5px solid rgba(200, 100, 100, 1);
}

#bottom-about a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    display: block;
}





/* The side navigation menu */
#bottom-code {
    height: 0;
    width: 250px;
    position: fixed;
    clear: both;
    float: left;
    bottom: 45px;
    z-index: 1; /* Stay on top */
    left: calc(50% - 125px);
    background-color: rgba(253, 138, 138, 1);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    border-color: rgba(253, 138, 138, 1);
    border-radius: 5px;
    border-left: 5px solid rgba(200, 100, 100, 1);
    border-right: 5px solid rgba(200, 100, 100, 1);
    border-top: 5px solid rgba(200, 100, 100, 1);
}

#bottom-code a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    display: block;
}



/* The side navigation menu */
#bottom-docs {
    height: 0;
    width: 250px;
    position: fixed;
    clear: both;
    float: left;
    bottom: 45px;
    z-index: 1; /* Stay on top */
    left: calc(50% - 125px);
    background-color: rgba(253, 138, 138, 1);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    border-color: rgba(253, 138, 138, 1);
    border-radius: 5px;
    border-left: 5px solid rgba(200, 100, 100, 1);
    border-right: 5px solid rgba(200, 100, 100, 1);
    border-top: 5px solid rgba(200, 100, 100, 1);
}

#bottom-docs a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    display: block;
}
